/* ? Fonts */
.font-primary {
  font-family: 'Noto Sans JP', sans-serif;
}

.font-secondary {
  font-family: 'Oswald', sans-serif;
}


/* ? Weigth */
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}