.table-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 0px 0px;

  border-radius: 8px;
  border: 0.5px solid #909090;
  background-color: white;

  overflow: clip;
}

/* Filters */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 16px 32px;

  border-bottom: 0.5px solid #b6b6b6;
}

.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.search-field i {
  font-size: 16px;
  color: #6c6c6c;
}

.search-field input {
  border: none;
  border-bottom: 1px solid #9c9c9c;
  width: 260px;
  padding: 8px 12px;
}

.selectores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.selectores button {
  background-color: #0044f3;
  border: 1px solid #022b94;
  border-radius: 8px;
  color: white;
  padding: 8px 16px;
}

/* ? Tables */
.tables {
  padding: 0px 32px;
}

/* ? Show more */
.show-more {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;

  background-color: #0044f3;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

  font-size: 16px;

  cursor: pointer;
}
