.table-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 0px 0px;

  border-radius: 8px;
  border: 0.5px solid #909090;
  background-color: white;

  overflow: clip;
}





/* ? Tables */
#tables {
  padding: 0px 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;

  width: 100%;
}

/* ? Show more */
.show-more {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;

  background-color: #0044f3;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

  font-size: 16px;

  cursor: pointer;
}
