button {
  background-color: #0093dc;
  border: 2px solid #0071a9;
  border-radius: 8px;
  color: white;
  padding: 8px 16px;

  cursor: pointer;

  transition: ease-in 100ms;
}

button:hover {
  /* background-color: #4dc4ff; */
  /* border: 1px solid #1d7faf; */
  background-color: #005491;
  transform: scale(1.05);
}

button:active {
  background-color: #005491;
}

button:focus {
  background-color: #005491;
  transform: scale(1.05);
}