#modal-table {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;

  height: 100vh;
  width: 100vw;

  background-color: #5a5a5a56;
  backdrop-filter: blur(2px);
  background-color: #9b9b9b54;

  cursor: pointer;
}

/* Root */
#pop-up .value-item {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

#pop-up .coin {
  font-size: 10px;
  font-weight: 300;
}

#pop-up .value-item .value {
  font-size: 16px;
  font-weight: 700;
}

/* Root - end */

#pop-up {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  width: 600px;
  padding: 40px;

  border: 0.5px solid #5a5a5a;
  border-radius: 8px;

  background-color: #ffffff;

  user-select: none;

  /*  Optional parameter */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Cursor */
  cursor: default;
}

#pop-up .number {
  font-size: 16px;
  color: #5a5a5a;
  font-weight: 600;
}

#pop-up .itens {
  display: flex;
  flex-direction: column;
  gap: 8px;

  min-width: 320px;
}

#pop-up .itens .list {
  display: flex;
  gap: 16px;
  padding: 16px;

  border: 0.5px solid #5a5a5a;
  border-radius: 8px;
}

#pop-up .itens table {
  text-align: left;
  border-collapse: collapse;
}

#pop-up .itens td,
#pop-up .itens th {
  padding: 0px 8px;
}

#pop-up .itens thead th {
  padding-bottom: 16px;

  min-width: 120px;
}

/* First line padding */
#pop-up .itens tbody tr:first-child td {
  padding-top: 24px;
}

#pop-up .itens tbody td {
  padding: 8px 8px;
}

#pop-up .itens tbody td {
  font-weight: 700;
  overflow: hidden;
  max-width: 300px;
}

#pop-up .itens tbody td:first-child {
  width: 320px;
}

#pop-up .itens thead th:not(:first-child) {
  text-align: center;
}

#pop-up .itens tbody td:nth-child(2),
#pop-up .itens thead th:nth-child(2) {
  text-align: center;
}

#pop-up .itens tbody td:nth-child(3),
#pop-up .itens thead th:nth-child(3) {
  text-align: left;
}

#pop-up .itens thead {
  border-bottom: 0.5px solid #5a5a5a;
}

#pop-up .list {
  max-height: 320px;
  overflow-y: scroll;
}

#pop-up .list::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

#pop-up .list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #5A5A5A;
}

#pop-up .totais {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  padding: 0 16px;
  /* background-color: purple; */
}

#pop-up .totais .calc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: inherit;
}

#pop-up .totais .calc > div {
  font-size: 12px;
}

/* Separator */
#pop-up .totais hr {
  border: 1px dashed #bbbbbb;
  stroke-dasharray: 12, 4;
}

#pop-up .totais .calc div,
#pop-up .totais .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pop-up .total {
  font-size: 20px;
}

#pop-up .salesman {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;

  font-size: 12px;
}

#pop-up .salesman .label {
  font-weight: 400;
}
