#tables .card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 256px;
  height: 80px;

  padding: 8px;
  border-radius: 8px;
  border: 1px solid #8c8c8c;

  font-family: 'Montserrat', sans-serif;
}

#tables .occupied {
  cursor: pointer;
}

#tables .card .separator {
  display: flex;
  justify-content: space-between;
}

#tables .card .number {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px;
  margin: 0px;

  font-weight: 700;
  color: #5a5a5a;
  font-size: 16px;
  height: 24px;
  width: 48px;
}

#tables .card .status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 96px;
  border-radius: 4px;

  font-weight: 600;
  font-size: 12px;
}

#tables .card .occupied {
  color: #851111;
  background-color: #f07584;
}

#tables .card .free {
  color: #006400;
  background-color: #88ed59;
}

#tables .card .name {
  display: flex;
  justify-content: left;
  align-items: center;

  padding-left: 4px;
  max-width: 120px;
  overflow: hidden;
  height: 24px;

  font-weight: 600;
  font-size: 12px;
}

#tables .card .bill {
  display: flex;
  justify-content: center;
  align-items: baseline;

  min-width: 96px;
  height: 24px;
}

#tables .card .bill span {
  font-size: 10px;
  font-weight: 500;
}

#tables .card .bill h1 {
  font-size: 16px;
  font-weight: 600;
}
