#modal-table {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;

  height: 100vh;
  width: 100vw;

  backdrop-filter: blur(2px);
  background-color: #9b9b9b54;

  cursor: pointer;
}

/* Root */
#pop-up .value-item {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#pop-up .coin {
  font-size: 10px;
  font-weight: 300;
}

#pop-up .value-item .value {
  font-size: 16px;
  font-weight: 700;
}

/* Root - end */

#pop-up {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  width: 680px;
  padding: 40px;

  border: 0.5px solid #5a5a5a;
  border-radius: 8px;

  background-color: #ffffff;

  user-select: none;

  /*  Optional parameter */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Cursor */
  cursor: default;
}

#pop-up .number {
  font-size: 16px;
  color: #5a5a5a;
}

#pop-up .items {
  display: flex;
  flex-direction: column;
  gap: 8px;

  min-width: 320px;
}

#pop-up .items h3 {
  font-size: 16px;
  font-weight: 600;
}

#pop-up .items .list {
  display: flex;
  gap: 16px;
  padding: 16px;

  border: 0.5px solid #5a5a5a;
  border-radius: 8px;
}

#pop-up .items table {
  text-align: left;
  border-collapse: collapse;
}

#pop-up .table-items {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pop-up .head-table,
#pop-up .body-table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#pop-up .head-table {
  padding-right: 10px;
}

#pop-up .body-table {
  padding-right: 5px;
}

#pop-up .row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 0px;
}

#pop-up .row .cell {
  font-size: 16px;
}

#pop-up .head-table .row .cell {
  font-weight: 600;
}

#pop-up .body-table .row .cell {
  font-weight: 400;
}

#pop-up .row > :first-child {
  width: 60%;
}

#pop-up .body-table .row > :first-child {
  padding-left: 8px;
}

#pop-up .row > :nth-child(2) {
  /* background-color: green; */
  text-align: center;
  justify-content: center;
  width: 20%;
}

#pop-up .row > :nth-child(3) {
  /* background-color: green; */
  width: 20%;
}

#pop-up .head-table .row {
  padding: 8px 0px;
  border-bottom: 1px solid black;
}

#pop-up .body-table {
  max-height: 320px;
  overflow-y: scroll;
}

#pop-up .body-table::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
  scroll-behavior: smooth;
}

#pop-up .body-table::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #5a5a5a;
}

#pop-up .body-table .row .cell {
  display: flex;
}

#pop-up .body-table .row:nth-child(even) {
  background-color: #d7d7d7;
}

#pop-up .totais {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  padding: 0 16px;
  /* background-color: purple; */
}

#pop-up .totais .calc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: inherit;
}

#pop-up .totais .calc > div {
  font-size: 12px;
}

/* Separator */
#pop-up .totais hr {
  border: 1px dashed #bbbbbb;
  stroke-dasharray: 12, 4;
}

#pop-up .totais .calc div,
#pop-up .totais .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pop-up .total .label {
  font-size: 20px;
  font-weight: 600;
}

#pop-up .salesman {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;

  font-size: 12px;
}

#pop-up .salesman .label {
  font-weight: 400;
}
